---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";
// const resumeURL = "/resume.pdf";
const resumeURL =
  "https://1drv.ms/b/c/0e81a80b0a10c73d/EQ5VGDfO-9JMmyuzLeWKOxkBRHshK7Gx9fKhE7OpD173-g?e=bWLf14";
---

<BaseLayout
  title="Resume | Patrick Amerlan"
  description="Patrick Amerlan's Resume"
>
  <div class="pdf-container">
    <!-- <embed src={resumeURL} type="application/pdf" /> -->
    <iframe
      src="https://1drv.ms/b/c/0e81a80b0a10c73d/IQQOVRg3zvvSTJsrsy3lijsZAeux27vTNAS02jZzQKwL3C0"
    ></iframe>
  </div>
</BaseLayout>

<style>
  html,
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .pdf-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0 20px;
    flex: 1;
  }

  iframe {
    width: 100%;
  }

  @media (min-width: 90em) {
    iframe {
      width: 50%;
    }
  }
</style>
