---
// import Icon from "./Icon.astro";
// import Pill from "./Pill.astro";
// import Grid from '../components/Grid.astro';
import { svgIcons } from "./SvgIcons";

const proficient = ['c', 'cpp', 'python', 'java', 'sql'];
const experienced = ['dart', 'flutter', 'typescript', 'javascript', 'html', 'css'];
const familiar = ['f-sharp', 'react'];
---

<section class="box">
    <!-- <p class="header">My Languages and Frameworks</p> -->
     <h3>hello</h3>
    <section class="box">
        <a>Proficient</a>
        <section>
            {Object.entries(svgIcons).map(([key, value]) => {
               if (proficient.includes(key)) {
                   return (<g set:html={value}/>);
               }  
            })}
       </section>
    </section>


    <a>Experienced</a>
    <section>
        {Object.entries(svgIcons).map(([key, value]) => {
            if (experienced.includes(key)) {
                return (<g set:html={value}/>);
            }  
         })}
    </section>
    <a>Familiar</a>
    <section>
        {Object.entries(svgIcons).map(([key, value]) => {
            if (familiar.includes(key)) {
                return (<g set:html={value}/>);
            }  
         })}
    </section>

</section>

<style>
    .header {
        font-size: 2em;
        font-weight: bold;
    }

	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
        display: flex;
        gap: 1rem 1rem;
        flex-direction: column;
        /* align-items: center; */
    }

    .box > section {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    /* .span {
        flex: 1;
    } */
     .box g {
        display: flex;
        justify-content: center;
        width: 150px;
        /* flex: 1; */
     }

    /* .box g {
        display: flex;
        width: 20vh;
        justify-content: center;
    } */
/* 
    .box > g {
        display: flex;
		flex-wrap: wrap;
		gap: 20rem;
	} */

	/* @media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	} */
</style>